.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #252c63;
}

.logo {
    margin-right: 20px;
}

.logo img {
    width: 300px;
}

.nav {
    flex: 1;
    text-align: center;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.nav li:last-child {
    margin-right: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.image {
    flex: 1;
    margin-right: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
}

.description-container {
    flex: 1;
}

.description {
    border: 1px solid #ccc;
    padding: 10px;
}

.description h2 {
    margin-top: 0;
}

.description p {
    margin-bottom: 5px;
}

.tabs {
    display: flex;
    margin-top: 20px;
    background-color: #252c63;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden; /* This will hide the line between tabs and content */
    border-bottom: 3px solid #ffffff; /* Update line color here */
}

.tabs .tab {
    flex: 1;
    text-align: center;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs label {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    color: white; /* Add this line to set the text color of the tabs */
    font-size: 22px; /* Slightly reduce the font size to make the text inside the tabs a bit smaller */
}

/* Style the tab content boxes */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(100% - 40px); /* Add this line to set the width of the tab content boxes */
    position: absolute;
    margin-top: 10px;
    border-radius: 0 0 10px 10px;
    background-color: #f1f1f1; /* Update background color of the tab content */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    left: 0;
    z-index: 1;
    text-align: left; /* Add text-align: left to align the text to the left */
}

/* Show the first content box by default */
.tabs input[type="radio"]:first-child:checked + label + .tabcontent {
    display: block;
}

/* Show the content box when checked */
.tabs input[type="radio"]:checked + label + .tabcontent {
    display: block;
}
