body {
    font-family: Arial, sans-serif;
}

.tabs {
    position: relative;
    min-height: 200px; /* This part dictates the height of the tabs */
    clear: both;
    margin: 25px 0;
}

.tab {
    float: left;
}

.tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
    cursor: pointer;
}

.tab [type=radio] {
    display: none;
}

.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    overflow: auto;
    display: none; /* Hide content by default */
}

.content > h2 {
    margin-top: 0;
}

.tabs [type=radio]:checked ~ label {
    background: #fff;
    border-bottom: 1px solid #fff;
    z-index: 2;
}

.tabs [type=radio]:checked ~ label ~ .content {
    display: block; /* Show content when corresponding radio button is checked */
    z-index: 1;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 1s;
}

.slide {
    flex: 0 0 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Set the initial position of the carousel */
.carousel {
    transform: translateX(0);
}

/* CSS animations to move to the next slide */
.slide:target ~ .carousel {
    transform: translateX(-100%);
}

/* CSS animations to move to the previous slide */
.slide:target ~ .carousel .slide:last-child {
    transform: translateX(0);
}
